/* reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    padding-inline-start: 40px;
}


/* vars */

:root {
    --color-primary: #2a9d8f;
    --color-primary-dark: #264653;
    --color-accent: #f4a261;
    --color-accent-dark: #e76f51;
    --color-background: #eae2b7;
  }

/* box-model */

body{
    font-family: monospace;
    font-size: 16px;
    height: 100vh;
    display: grid;
    grid-template-columns: calc(20% + 8rem) 1fr;
    background-color: var(--color-background);
}


.me {
    padding: 5rem 2rem;
    display: grid;
    align-content: start;
    height: 100%;
    justify-self: start;
    align-self: start;
    margin-right: 8rem;
    background-color: white;
    box-shadow: 2rem 0 0 0 var(--color-primary),
    4rem 0rem 0 0 var(--color-primary-dark),
    6rem 0rem 0 0 var(--color-accent),
    8rem 0rem 0 0 var(--color-accent-dark);
}

.me img {
    max-width: 100%;
    border-radius: 50%;
}

.content {
    justify-self: center;
    display: grid;
    grid-row-gap: 1rem;
    padding: 2rem;
}

/*texts*/

.title {
    margin-bottom: .5rem;
}

.subtitle {
    margin-top: 0;
}

h3 {
    font-weight: bold;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.emphasis {
    font-weight: bold;
}

/* skills */
.skills-sec h3, .skills-sec .emphasis {
    color: var(--color-primary);
}


/* timeline */
.tl-sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tl-sec > * {
    grid-column: 1/1;
}

.tl-sec h3 {
    color: var(--color-primary-dark);
}

.tl-ul {
    padding: 0;
    list-style: none;
}

.tl-ul .tl-item, .tl-ul .tl-date {
    display: grid;
    grid-template-columns: 3rem 1fr;
    margin-bottom: .5rem;
    grid-column-gap: .5rem;
}

.tl-ul .tl-date span {
    color: var(--color-primary-dark);
    text-align: center;
    font-weight: bold;
}

.tl-ul .tl-item::before {
    grid-column: 1/1;
    grid-row: 1 / span 2;
    content: '';
    display: block;
    background-color: var(--color-primary-dark);
    border-radius: 3px;
    width: .4rem;
    justify-self: center;
}

.tl-ul .tl-item .tl-title {
    grid-column: 2/2;
    padding-top: 1.5rem;
    font-weight: bold;
}

.tl-ul .tl-item .tl-text {
    grid-column: 2/2;
    padding-bottom: 1.5rem;
}
